<!-- Slider -->
<div cycle="5" class="promo-content" show-pager>
	<!-- Paris -->
	<div class="paris">
		<div class="promo-content">
			<img media="paris-hotel4.jpg">
		</div>

		<!-- Information Area -->
		<div class="info-area">

			<span class="title">
				Luxury, calm and exquisite refinement <span class="gold">under the Monaco sun</span>
			</span>

			<div class="content-title">
				<span class="name">HÔTEL DE PARIS MONTE-CARLO</span>

				<div class="stars">
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
				</div>
			</div>

			<span class="features">
				Sea View - Casino View - Terrace - Place Du Casino - Luxury rooms - Jacuzzi
			</span>

			<div class="actions">
				<span class="price">From<span class="amount">566€</span>/night</span>
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
					Book a Room
				</button>
			</div>
		</div>
	</div>

	<!-- Hermitage -->
	<div class="hermitage">
		<div class="promo-content">
			<img media="hermitage-hotel5.jpg">
		</div>

		<!-- Information Area -->
		<div class="info-area">

			<span class="title">
				The most elegant hotel in Monaco with <span class="gold">a belle-époque charm</span>
			</span>

			<div class="content-title">
				<span class="name">HÔTEL HERMITAGE MONTE-CARLO</span>

				<div class="stars">
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
				</div>
			</div>

			<span class="features">
				Sea View - Terrace - Place Du Casino - Luxury rooms - Jacuzzi
			</span>

			<div class="actions">
				<span class="price">From<span class="amount">449€</span>/night</span>
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
					Book a Room
				</button>
			</div>
		</div>
	</div>

	<!-- Bay -->
	<div class="bay">
		<div class="promo-content">
			<img media="bay-hotel5.jpg">
		</div>

		<!-- Information Area -->
		<div class="info-area">

			<span class="title">
				Make your Monte-Carlo experience more intense in an <span class="gold">exclusive resort</span>
			</span>

			<div class="content-title">
				<span class="name">MONTE-CARLO BAY HOTEL & RESORT</span>

				<div class="stars">
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
				</div>
			</div>

			<span class="features">
				Sea View - Terrace - Sea Side
			</span>

			<div class="actions">
				<span class="price">From<span class="amount">280€</span>/night</span>
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
					Book a Room
				</button>
			</div>
		</div>
	</div>

	<!-- Beach -->
	<div class="beach">
		<div class="promo-content">
			<img media="beach-hotel7.jpg">
		</div>

		<!-- Information Area -->
		<div class="info-area">

			<span class="title">
				A timeless yet resolutely <span class="gold">modern lifestyle</span>
			</span>

			<div class="content-title">
				<span class="name">MONTE-CARLO BEACH</span>

				<div class="stars">
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
					<span class="font-icon icon-star"></span>
				</div>
			</div>

			<span class="features">
				Sea View - Sea Side - Luxury Rooms - Jacuzzi
			</span>

			<div class="actions">
				<span class="price">From<span class="amount">480€</span>/night</span>
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
					Book a Room
				</button>
			</div>
		</div>
	</div>
</div>
