<!-- Message -->
<div id="lang-popup" class="popup-box" tigger-hide="lang-popup">
	<div class="container">
		<span class="font-icon icon-check-circle"></span>
		<span class="text">{{lang.LanguageChanged}}</span>
	</div>
</div>

<!-- Menu Items -->
<div class="menu-items">
	<!-- English -->
	<button class="btn" set-lang="en-gb" tigger-show="lang-popup">
		<img class="icon" media="lang-english.svg" />
		<span>English</span>
	</button>

	<!-- English -->
	<button class="btn" set-lang="en-GB" tigger-show="lang-popup">
		<img class="icon" media="lang-french.svg" />
		<span>Français</span>
	</button>

	<!-- Italian -->
	<button class="btn" set-lang="en-GB" tigger-show="lang-popup">
		<img class="icon" media="lang-italian.svg" />
		<span>Italiano</span>
	</button>

	<!-- Spanish -->
	<button class="btn" set-lang="en-GB" tigger-show="lang-popup">
		<img class="icon" media="lang-spanish.svg" />
		<span>Español</span>
	</button>
</div>
