<span class="title">My Offers</span>

<div class="offers">

	<!-- Offer 1 -->
	<div class="offer-wrapper">

		<div class="offer-content offer1 animated infinite">
			<div class="offer-text">
				<span class="title">€10 Freeplay</span>
			</div>
		</div>

		<div class="expiry">
			<!--Board thinks it's 1970-->
			<span class="text">Expires: <countdown class="amount" from-date="May 20, 2019, 00:00:01" target-date="May 24, 2019, 23:59:59"></countdown></span>
		</div>

		<div class="chip active">Active</div>
	</div>

	<!-- Offer 2 -->
	<div class="offer-wrapper">

		<div class="offer-content offer2">
			<div class="offer-text">
				<span class="title">2 for 1</span>
				<span class="text">Slot Tournament Entry</span>
			</div>
		</div>

		<div class="expiry">
			<!--<countdown class="text" target-date="'May 1, 2019, 12:00:00"></countdown>-->
			<span class="text">Please keep checking the app, sms and emails for future offers</span>
		</div>

		<div class="chip expired">Expired</div>
	</div>
</div>
