<span class="title">Today's Rewards</span>

<div class="rewards-content">

    <div class="p-bar">
        <progress-bar target="100"
                      progress="customer.sessionPoints"
                      vertical="true"
                      animation="none"
                      animation-high="none">
        </progress-bar>

		<div class="prize-point-wrapper">
			<div class="prize-point" ng-if="customer.totalPoints < 0">
				<p class="info">50 -</p>
			</div>
			<div class="prize-point animated infinite" ng-if="customer.totalPoints >= 0">
				<span class="font-icon icon-circle-star"></span>
			</div>

			<div class="prize-point" ng-if="customer.totalPoints < 1000">
				<p class="info">100 -</p>
			</div>
			<div class="prize-point infinite" ng-if="customer.totalPoints >= 1000">
				<span class="font-icon icon-circle-star"></span>
			</div>

			<div class="prize-point" ng-if="customer.totalPoints < 2000">
				<p class="info">200 -</p>
			</div>
			<div class="prize-point infinite" ng-if="customer.totalPoints >= 2000">
				<span class="font-icon icon-circle-star"></span>
			</div>

			<div class="prize-point" ng-if="customer.totalPoints < 3000">
				<p class="info">300 -</p>
			</div>
			<div class="prize-point infinite" ng-if="customer.totalPoints >= 3000">
				<span class="font-icon icon-circle-star"></span>
			</div>
		</div>
    </div>

    <div class="rewards">
		<div class="prize">
			<img class="background" media="astro-blast.png">
			<div class="fake-button" link-to="astro-blast"></div>
			<div class="fake-button right" link-to="astro-blast-fail"></div>
			<span class="text">Claim your bonus game now</span>
		</div>

        <div class="prize">
            <img class="background" media="free-play.png" ng-class="customer.totalPoints < 1000?'disabled':''">
            <span class="text">Earn <span class="amount">100</span> points</span>
        </div>

        <div class="prize">
            <img class="background" media="spin-the-wheel.png" ng-class="customer.totalPoints < 2000?'disabled':''">
            <span class="text">Earn <span class="amount">200</span> points</span>
        </div>

        <div class="prize">
            <img class="background" media="jackpot-entry.png" ng-class="customer.totalPoints < 3000?'disabled':''">
            <span class="text">Earn <span class="amount">300</span> points</span>
        </div>
    </div>
</div>
