<div cycle="5" class="promo-content" show-pager>
	<!-- Le Grill -->
	<div>
		<div class="promo-content">
			<img media="le-grill1.jpg">
		</div>

		<!-- Information Area -->
		<div class="info-area">
			<span class="date">Open year-round for lunch: from 12.pm to 2.pm. Dinner: from 7.30pm to 10.30pm</span>

			<span class="title">
				A unique panorama at <span class="gold">a legendary Monaco restaurant</span>
			</span>

			<div class="content-title">
				<span class="name">
					Le Grill
					<img class="michelin-star" media="michelin-star.svg">
				</span>
			</div>

			<span class="text">
				Located on the 8th floor of the Hôtel de Paris Monte-Carlo, Le Grill offers a magnificent panoramic view of the Mediterranean. The roof opens entirely, so you can enjoy lunch in the sun and dinner under a starry sky on warm days.
			</span>

			<div class="actions">
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
				Book a Table
				</button>
			</div>
		</div>
	</div>

	<!-- Le Louis -->
	<div>
		<div class="promo-content">
			<img media="le-louis1.jpg">
		</div>

		<!-- Information Area -->
		<div class="info-area">
			<span class="date">Lunch: Friday to Monday, 12.15 pm to 1.45 pm. Dinner: Thursday to Monday, 7.30 pm to 9.45pm.</span>

			<span class="title">
				The most prestigious restaurant in Monaco is <span class="gold">inspired by the Riviera and la dolce vita</span>
			</span>

			<div class="content-title">
				<span class="name">
					Le Louis XV- Alain Ducasse à l’Hôtel de Paris
					<img class="michelin-star" media="michelin-star.svg">
					<img class="michelin-star" media="michelin-star.svg">
					<img class="michelin-star" media="michelin-star.svg">
				</span>
			</div>

			<span class="text">
				The 3-Michelin-starred Le Louis XV - Alain Ducasse à l’Hôtel de Paris never ceases to amaze. Chefs Dominique Lory and Alain Ducasse have created a modern and contemporary menu.
			</span>

			<div class="actions">
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
					Book a Table
				</button>
			</div>
		</div>
	</div>
</div>
