<div cycle="5" class="promo-content" show-pager>

	<!-- Music -->
	<div>
		<div class="promo-content">
			<img media="shows1.jpg">
			<div class="chip">Music</div>
		</div>

		<!-- Information Area -->
		<div class="info-area">

			<div class="content-title">
				<span class="name">
					Laurent Gerra
				</span>
			</div>

			<span class="text">
				Laurent Gerra’s new One Man Show “Sans Modération” will take place on 8 and 9 November at the Opera Garnier Monte-Carlo!
			</span>
			<span class="points-title">Information</span>
			<ul class="bullet-points">
				<li><span><span class="gold">Date:</span> 8 & 9 November 2019</span></li>
				<li><span><span class="gold">Venue:</span> Opera Garnier Monte-Carlo</span></li>
				<li><span><span class="gold">Show Type:</span> Seated</span></li>
				<li><span><span class="gold">Opening Doors:</span> 8pm</span></li>
				<li><span><span class="gold">Beginning of the show:</span> 8.30pm</span></li>
				<li><span><span class="gold">Dress code:</span> Jacket required - Correct attire</span></li>
				<li><span><span class="gold">Minimum age:</span> 7 Years</span></li>
				<li><span><span class="gold">E-Mail:</span> ticketoffice@sbm.mc</span></li>
			</ul>

			<div class="actions">
				<span class="price">From<span class="amount">65€</span>Per Person</span>
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
					Book Now
				</button>
			</div>
		</div>
	</div>

	<!-- Dance -->
	<div>
		<div class="promo-content">
			<img media="shows2.jpg">
			<div class="chip">Dance</div>
		</div>

		<!-- Information Area -->
		<div class="info-area">

			<div class="content-title">
				<span class="name">
					Dita Von Teese: “The Art of the Teese”
				</span>
			</div>

			<span class="text">
				Burlesque’s Brightest Star Dita Von Teese in “The Art Of the Teese is THE show to not miss at the Opera Garnier Monte-Carlo next 20th of October 2018!
			</span>
			<span class="points-title">Information</span>
			<ul class="bullet-points">
				<li><span><span class="gold">Date:</span> 20 October 2019</span></li>
				<li><span><span class="gold">Venue:</span> Opera Garnier Monte-Carlo</span></li>
				<li><span><span class="gold">Show Type:</span> Seated</span></li>
				<li><span><span class="gold">Opening Doors:</span> 8pm</span></li>
				<li><span><span class="gold">Beginning of the show:</span> 8.30pm</span></li>
				<li><span><span class="gold">Dress code:</span> Correct attire</span></li>
				<li><span><span class="gold">Minimum age:</span> 7 Years</span></li>
				<li><span><span class="gold">E-Mail:</span> ticketoffice@sbm.mc</span></li>
			</ul>

			<div class="actions">
				<span class="price">From<span class="amount">65€</span>Per Person</span>
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
					Book Now
				</button>
			</div>
		</div>
	</div>
</div>
