<!-- Menu Items -->
<div class="menu-items">

    <!-- Blue Theme -->
    <button class="btn" reload-theme="style">
        <span class="font-icon icon-paint-brush"></span>
        <span>Blue Theme</span>
    </button>

    <!-- Green Theme -->
    <button class="btn" reload-theme="green">
        <span class="font-icon icon-paint-brush"></span>
        <span>Green Theme</span>
    </button>

    <!-- Pattern Theme -->
    <button class="btn" reload-theme="pattern">
        <span class="font-icon icon-paint-brush"></span>
        <span>Pattern Theme</span>
    </button>

    <!-- Purple Theme -->
    <button class="btn" reload-theme="purple">
        <span class="font-icon icon-paint-brush"></span>
        <span>Purple Theme</span>
    </button>

    <!-- Red Theme -->
    <button class="btn" reload-theme="red">
        <span class="font-icon icon-paint-brush"></span>
        <span>Red Theme</span>
    </button>
</div>
