.my-monte-carlo {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1;
	padding: 0px !important;
	background: url(../../media/my-monte-carlo.jpg) no-repeat;
	justify-content: flex-end;

	.btn {
		height: 80px;
		margin: 0 40px 60px 40px;
		color: @white;
		background: @pale-blue;
		border: none !important;
		.gotham-rg;
		letter-spacing: inherit !important;
		.pulse;
	}
}
