.packages-and-offers {
	padding: 0 !important;

	.promo-content {
		height: 1020px;

		.slider-wrapper {
			.slider-content {
				justify-content: flex-end;

				.offer-area {
					background: @white;
					height: 410px;
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

					.title {
						text-align: left !important;
						color: @black !important;
						letter-spacing: inherit !important;
						margin-bottom: 20px !important;

						.gold {
							color: @secondary-bg;
						}
					}

					.text {
						color: @grey1;
						.gotham-sm;
						font-weight: @fw-light !important;
						text-transform: inherit !important;
					}

					.bullet-points {
						flex: 1;
					}
				}
			}
		}
	}

	// Pager Position
	.pager {
		bottom: 520px;
	}
}
