@import "../theme.less";
@gc1: #A20000; // Gradient Colour 1
@gc2: #640404; // Gradient Colour 2
@primary-bg: linear-gradient(@gc1, @gc2);
@primary-bg: -webkit-linear-gradient(@gc1, @gc2);
@secondary-bg: #E6BE8A;
@secondary-text: #966D3A;

@primary-bottom-bg: @primary-bg;
