.current-session {
    flex-direction: column;

    .amount {
        color: @secondary-bg;
        .gotham-lg;
        margin: 10px 0;
    }

    .btn {
        height: 80px;
		background: @secondary-bg;
		color: @secondary-text;
    }
}
