.themes {
    .menu-size;

	.menu-items {
		.active {
			background: @secondary-bg;
			color: @secondary-text;

			&:focus {
				background: @op-white !important;
				color: @white !important;
			}
		}
	}
}
