<!-- Balances -->
<span class="title">My Balances</span>

<!-- Current Points -->
<div id="cashless" class="balance-content">
    <div class="balance-display">
        <span class="text">Cashless Balance</span>
        <span class="balance">{{customer.cashless.availableCashableBalance}}</span>
    </div>

    <button class="btn" link-to="cashless">Transfer Funds</button>
</div>

<span class="border-line"></span>

<!-- Loyalty -->
<div id="loyalty" class="balance-content">

    <div class="balance-display">
        <span class="text">Loyalty Points</span>
		<span class="balance">{{customer.totalPoints}}</span>
    </div>

    <button class="btn" link-to="point-play">Redeem Points</button>
</div>
