<!-- Slider -->
<div cycle="5" class="promo-content" show-pager>
	<!-- About Spa -->
	<div>
		<div class="promo-content">
			<img media="wellness-and-sports1.jpg">
			<div class="chip">Wellness</div>
		</div>

		<!-- Information Area -->
		<div class="info-area">

			<span class="title">
				Simply <span class="gold">relax</span>
			</span>

			<div class="content-title">
				<span class="name">
					Absolu Spa
				</span>
			</div>

			<span class="text">
				The quintessential spa package with three body treatments, complemented by a superb 60-minute facial treatment. For ultimate wellness.
			</span>
			<span class="points-title">Information</span>
			<ul class="bullet-points">
				<li><span>We recommend arriving at least 20 minutes before your appointment</span></li>
				<li><span>During your treatments, you can leave your personal belongings in a locker</span></li>
				<li><span>We provide robes, towels and slippers</span></li>
				<li><span>Access to the Wellness Area (+€45 including lunch)</span></li>
			</ul>

			<div class="actions">
				<span class="price">Price<span class="amount">375€</span></span>
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
					Book Now
				</button>
			</div>
		</div>
	</div>

	<!-- Cellcosmet Swiss Body Exfoliation -->
	<div>
		<div class="promo-content">
			<img media="wellness-and-sports2.jpg">
			<div class="chip">Wellness</div>
		</div>

		<!-- Information Area -->
		<div class="info-area">

			<span class="title">
				Simply <span class="gold">relax</span>
			</span>

			<div class="content-title">
				<span class="name">
					Cellcosmet Swiss Body Exfoliation
				</span>
			</div>

			<span class="text">
				After exfoliation, your body will be rid of dead skin cells and impurities. The treatment softens and purifies the skin.
			</span>
			<span class="points-title">Information</span>
			<ul class="bullet-points">
				<li><span>We recommend arriving at least 20 minutes before your appointment</span></li>
				<li><span>During your treatments, you can leave your personal belongings in a locker</span></li>
				<li><span>We provide robes, towels and slippers</span></li>
				<li><span>Access to the Wellness Area (+€45 including lunch)</span></li>
			</ul>

			<div class="actions">
				<span class="price">Price<span class="amount">375€</span></span>
				<button class="btn" show-message="A member of staff will be with you shortly to complete the booking"
						message-type="service"
						message-css-icon="font-icon icon-bell">
					Book Now
				</button>
			</div>
		</div>
	</div>
</div>
