.attract-mode {

	// Bottom Content
	.bottom-content {
		justify-content: center;

		.card-in {
			.font-icon {
				margin-right: 10px;
			}

			.text {
				.gotham-rg;
				text-transform: inherit !important;
				letter-spacing: inherit !important;
				font-weight: @fw-regular !important;
			}
		}
	}

	// Slider / Promo Content
	.promo-content {
		flex: none;
		width: 500px;

		.slider-wrapper {
			border-radius: 60px 0 0 60px;
			background: @secondary-bg;
			height: @bottom-bar-height;

			.slider-content {
				.offer-area {
					background: none;
					text-align: right;
					padding: 0 40px;
					flex-direction: row;
					align-items: center;
					justify-content: flex-end;
					.pulse;

					.text {
						.gotham-rg;
						color: @white !important;
					}

					span {
						color: @white !important;
					}

					.font-icon {
						.rg-text;
						flex: 1;
						text-align: left;
						.pulse;
					}
				}
			}
		}
	}
}
